body {
    background-image: url(/assets/images/brickwall.jpg)
}
#header {
   font-family: 'Bree Serif', serif;
   font-size: 3em;
   color: rgb(78, 78, 78);
   margin-left: 6em;
   margin-top: 1em;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding-right: 8%;
}
#header-img {
    position: relative;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 8%;
}

#nav-bar {
    width: 100%;
    height: 35px;
    background-color: rgb(70, 236, 220);
    font-size: 1.4em;
    color: indigo;
    overflow:visible;
    align-content: center;
    justify-content: space-around;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

main {
    font-size: 1.3em;
    color: indigo;
}

#smartdeal {
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
}

#video {
    padding: 3% 0% 10% 35%;
}

#properties {
    text-align: center;
    padding-bottom: 5px;
}

#support {
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

#form {
    font-weight: bold;
    color:rgb(78, 78, 78);
    margin-top: 25px;
    text-align: center;
}

#info {
    text-align: center;
}

@media (max-width:600px){
    body {
        font-size: 20%;
    }
}
